/* Brian code here don't forget GIT STATUS */
body {
    background: rgba(0, 0, 0, 0.7) url(../Videos/Loop_Animation_Theme_park.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

.info-color {
    background-image:linear-gradient(45deg,#7A7DE9,#CA919C,#48B5A5);
    background-size:500%;
    animation: bge 5s infinite alternate;
}


































































































/* Eric code here don't forget GIT STATUS */


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#box {
    height: 100vh;
}

body {
    background: rgba(0, 0, 0, 0.7) url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}




.width{
    width:55rem;
}

#text-input{
    background: radial-gradient(white,rgb(208, 205, 205));
    transition: all 0.3s ease-in-out;
}
#text-input:hover{
    box-shadow:0px 0px 5px black;
    border-color: rgb(0, 255, 17);

}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.display-show {
    display: block;
}



.navbar{
    margin-bottom: 20px;
}



#box{
    height:300vh;
}

 #mynav{
    margin-bottom: 20px;
}
















#main{
   display:none; 
   
}

.show{
    display:block;
}


#theme-park-list:hover{
cursor: pointer;
}


#myH1{
    background-image: radial-gradient(rgb(230, 11, 11),rgb(229, 101, 240),rgb(95, 77, 235));
    background-clip:text;
    background-size: 300%;
    color:transparent;
    font-size: 35px;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation:fadeIn 3s,slide 3.7s, bge 5s infinite alternate;
    

}



#flex{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.same{
    width:25rem;
    height:25rem;
    background-image: linear-gradient(45deg,rgb(123, 195, 243),rgb(234, 185, 102));
    text-align: center;
    color:rgb(2, 2, 2);
    font-size:20px;
    border-radius: 20px;
    overflow: scroll;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#parkName, #weatherName{
    margin:10px;
    display: none;

}

#group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: center;

}


#group img{
    width:10px;

}










.fade{
    transition: all 0.4s ease-in-out;
}
.fade:hover{
    box-shadow: 0px 0px 10px rgb(246, 246, 246);
}
#btn{
    width:8rem;
    font-size: 20px;
}

#closebtn{
    padding:10px;
    border-radius: 5px;
    font-size:15px;
    font-weight: bold;

}





@keyframes bge{
    0%{background-position: left;}
    50%{background-position: right;}
}

@keyframes slide{

    0%{transform: translateX(90%);}

    0%{transform: translatex(30rem);}
}
@keyframes fadeIn{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

