/* Added and styled background Gif */
body {
    background: rgba(0, 0, 0, 0.7) url(../Videos/youtube-video-gif\ \(2\).gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}
/* Added css styling to  */
.info-color {
    background-image:linear-gradient(45deg,#7A7DE9,#CA919C,#48B5A5);
    background-size:500%;
    animation: bge 5s infinite alternate;
}
/* Added borders to titles and buttons */
#rides{
    border-right:1px solid black;
}
          
#wait-title{
    border-bottom:1px solid black;
}


#fbrides2 {
    border-bottom: 1px solid black;
}

.parkIn {
    border-bottom: 1px solid black;
    margin-top:10px; 
    font-size:25px;
}

.weatherN {
    font-size:25px; 
    margin-top:10px;
}

.sortbwt {
    font-weight: bold;
}
    /* Search Bar styling */
#search-title {
    transform:translateY(-40px); 
    font-size:43px;  
}

.honk-uniquifier {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    text-shadow:0px 0px 20px white;
}


/* styles title, buttons,divs and animations  */
#dialog {
   margin-left: 12em;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    height:auto;
}

#box {
    height: 100vh;
}

.width{
    width:70rem;
}
/* changes color of text when user is typing */
#text-input{
    margin-top:5rem;
    background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(177, 174, 174));
    transition: all 0.2s ease-in-out;
    color:rgb(132, 4, 113);
    font-weight:bold;
}
#text-input:hover{
    box-shadow:0px 0px 5px black;
    border-color: rgb(255, 255, 255);

}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.display-show {
    display: block;
}

.container{
    animation: fadeIn 1s;
}

.navbar{
    margin-bottom: 20px;
}

#box{
    height:300vh;
}

 #mynav{
    margin-bottom: 20px;
}


#main{
   display:none; 
}

.show{
    display:block;
}


#theme-park-list:hover{
cursor: pointer;
}
/* creates line animation when hovered over */
#H1-title{
    animation: slide 6s;
    position: relative;
    z-index: 1;
}
#H1-title::after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    z-index: -1;
    background-image: linear-gradient(to right,red,rgb(209, 20, 209));
    transform:scaleX(0);
    transform-origin:right;
    transition: transform 250ms ease-in ;
}
#H1-title:hover::after{
    transform:scaleX(1);
    transform-origin:left;
}
/* creates color and animation  */
#myH1{
    background-image: radial-gradient(rgb(230, 11, 11),rgb(229, 101, 240),rgb(95, 77, 235));
    background-clip:text;
    background-size: 300%;
    color:transparent;
    font-size: 35px;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation:bge 5s infinite alternate;
}
#funcast{
  font-size:3rem;
  background-image: radial-gradient(rgb(255, 251, 251),rgb(242, 12, 196),rgb(54, 17, 220));
  background-clip: text;
  color:transparent;
  background-size: 500%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  animation:fadeOut 5s infinite alternate,bge 5s infinite alternate;
  transition: all 0.5s ease-in-out;
}
#flex{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
/* styles both attraction and weather divs */
.same{
    width:50rem;
    height:30rem;
    background-image: linear-gradient(45deg,rgb(28, 135, 206),rgb(124, 240, 159));
    text-align: center;
    color:rgb(2, 2, 2);
    font-size:20px;
    border-radius: 10px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* creates space for text within theme park list */
#parkName, #weatherName{
    margin:10px;
    display: none;
}

#parkName > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px 0px 5px;
}

#group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: center;
}


#group img{
    width:10px;
}
/* styles about button  */
#btn{
    width:8rem;
    font-size: 20px;
    animation: slideup 2s;
    color:blue;
    border-color:blue;
    position: relative;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    transition: transform 0.30s ease-in;
    z-index: 1;
}
#btn:hover, #btn:focus-visible{
    color:white;
    transform: translateY(-0.2rem);
    
}
#btn::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-image: linear-gradient(45deg,blue,rgb(128, 211, 238));
    z-index:-1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
#btn:hover::after{
    transform:scaleX(1);
    transform-origin:left;
}

#closebtn, li, p{
    padding:10px;
    border-radius: 5px;
    font-size:15px;
    font-weight: bold;

}
/* styles sort button for sorting wait times and attractions  */
#sort-btn {
    margin-bottom: 5px;
    background-color: transparent;
    border-color: black;
    transition: all 0.3s ease-in-out;
    transition: transform 0.5s;
    position: relative;
    color:black;
    z-index: 1;
}
#sort-btn:hover, #sort-btn:focus-visible{
    color:white;
    transform:translateY(-0.1rem);
}

#sort-btn::after{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-image: linear-gradient(45deg,black,rgb(142, 141, 141));
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in;
}
#sort-btn:hover:after{
    transform: scaleY(1);
    transform-origin:top;
}

.flex-box{
    display:flex;
    justify-content: space-evenly;
    overflow-y: auto;
}

.col{
    display: flex;
    flex-direction: column;
    width:15rem;
    height:26.7rem;
}

#recent-search{
display: flex;
justify-content: end;
align-items: end;
width:15rem auto;
}

#recent{
    position: absolute;
    margin-right:1rem;
    width:26rem;
    height:7rem;
    background-color: rgb(252, 248, 248);
    overflow: auto;
    border-radius:10px;
}

.fade{
    transition: all 0.4s ease-in-out;
}
.fade:hover{
    cursor: pointer;
}
/* styles clear button to clear out user searched history */
#clear-btn{
    position: absolute;
    top:4.3rem;
    left:31rem;
    margin-bottom:2rem;
    transform: translateX(5rem);
    padding:2px;
    width:20rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    z-index:1;
    border-color: black;
}
#clear-btn:hover{
    color:white;
}
#clear-btn::after{
content:"";
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
background-image: linear-gradient(rgb(228, 99, 99),rgb(234, 9, 9));
transform:scaleX(0);
transform-origin: left;
z-index: -1;
transition: transform 0.2s ease-in;
}
#clear-btn:hover::after{
    transform:scaleX(1);
    transform-origin:right
}

#alert-box{
    position: absolute;
    width:20rem;
}

#date{
    margin-left:3rem;
    font-size:1.5rem;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: radial-gradient(rgb(253, 253, 253),rgb(132, 4, 138),rgb(136, 12, 145),rgb(0, 0, 0));
    background-size: 500%;
    animation: bge 10s infinite alternate;
    background-clip: text;
    color:transparent;
}

/* animations for text and background */
@keyframes fadeOut{
   0%{opacity: 0%;}
   100%{opacity: 100%;}
}




@keyframes bge{
    0%{background-position: left;}
    50%{background-position: right;}
}

@keyframes slide{
    0%{transform: translateX(90%);}
    40%{transform: skewX(20deg);}
    20%{transform: rotateZ(5deg);}
    10%{transform:scaleX(50%);}
}
@keyframes fadeIn{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

@keyframes slideup{
    0%{transform: translateY(50rem);}
}

/* this creates a responsive app for mobile screens */
@media screen and (width < 800px){
    .navbar-brand{
        display:block;
    }
    .navbar-menu{
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .container{
        width:26rem;
    }

    .same{
        width:25rem;
    }
    #flex{
        display:flex;
        flex-direction: column;
    }
    #text-input{
        margin-top:15rem;
        margin-left:10px;
    }

    #recent{
        position: absolute;
        left:1.7rem;
        top:11rem;
        width:17rem;
    }
    #clear-btn{
        position: absolute;
        top:18.5rem;;
        left:0;
        width:10rem;
    }
    #dialog{
        margin-inline:50px;
        width:20rem;
    }
    #date{
        display:block;
        margin-left:0px;
    }
}






